.App {
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.img {
  background: url("./assets//images/airplane_7606519.png");
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
}

.container {
  margin: 70px 80px 0 80px;
  width: 50rem;
  max-height: 100%;
  min-height: 30rem;
  display: flex;
}
